<div style="background-color:#93ff82" class="container">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("User", "Index", "TableApplicationUsers")</li>
                <li>@Html.ActionLink("Person", "Index", "TablePeople")</li>
                <li>@Html.ActionLink("Currency", "Index", "TableCurrencies")</li>
                <li>@Html.ActionLink("Currency cources", "Index", "TableCurrencyCourses")</li>
                <li>@Html.ActionLink("Account", "Index", "TableAccounts")</li>
                <li>@Html.ActionLink("Cash flow", "Index", "TableCashFlows")</li>
                <li>@Html.ActionLink("income/expence group", "Index", "TableIncomeExpenseGroups")</li>
                <li>@Html.ActionLink("income/expence item", "Index", "TableIncomeExpenseItems")</li>
                <li>@Html.ActionLink("plan/fact", "Index", "TablePlanFacts")</li>
                <li>@Html.ActionLink("ledger", "Index", "TableLedgers")</li>
            </ul>
        </div>
    </div>
</div>